name: Build

on:
  workflow_dispatch:

env:
  TAG_NAME: latest

jobs:
  buildroot:
    name: Firmware
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup ccache
        uses: actions/cache@v4
        with:
          path: /tmp/ccache
          key: ssc338q-rubyfpv-${{ github.run_number }}

      - name: Build firmware
        run: |
          echo "nameserver 8.8.8.8" | sudo tee /etc/resolv.conf
          mkdir -p /tmp/ccache
          ln -s /tmp/ccache ${HOME}/.ccache
          bash builder.sh ssc338q_rubyfpv_generic

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: openipc-firmware-ssc338q_rubyfpv_generic
          path: openipc/output/images/*
